/* Basic style */
:root {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;
}
* {
  box-sizing: border-box;
}
body {
  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  background: var(--secondary);
}
section {
  max-width: 90vw;
}
a {
  display: inline-block;
  margin: 0.2em;
  padding: 0.4em 0.8em;
  background: var(--secondary);
  color: var(--highlight-primary);
  border: var(--line) solid var(--highlight-primary);
  border-radius: var(--pill);
  font-weight: normal;
  text-decoration: none;
}
a:hover {
  color: var(--primary);
  border-color: var(--primary);
}

/* UI Event Classes */

/* Jump animation on the interaction link */
a:nth-of-type(12) {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* Jouw animaties */

/* animatie 1 */
a:nth-of-type(1) {
  position: relative;
}
.rotation{
  animation-name: rotation;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes rotation{
  0% {
    transform: rotate( 0deg ) scale( 1 );
  }
  100% {
    transform: rotate( 360deg ) scale( 1 );
}
}

/* animatie 2 */

a:nth-of-type(2) {
  position: relative;
}
.collide{
  animation-name: collide;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}
@keyframes collide{
  0%   {left: 0px;}
  25%  {left: 23px;}
  75%  {left: -23px}
  100% {left: 0px;}
}

/* animatie drie */

a:nth-of-type(3) {
  position:relative;
}
.footbal{
  animation-name: footbal;
  animation-duration: 4s;
  animation-iteration-count: 1;
  z-index:1;
}
@keyframes footbal{
  0%   {
    transform:rotate(0deg);
  }
  25%  {
    transform:translateY(20rem) translateX(-26.3rem) rotate(100deg);
  }
  50% {
    transform:translateY(35rem) translateX(26rem) rotate(360deg);
  }
  100% {
    transform:rotate(360deg)
  }
}

/* animatie 4 */
a:nth-of-type(4) {
  position: relative;
}
.green{
  animation-name: green;
  animation-duration: 4s;
  animation-iteration-count: 1;
  transition: 1s;
}

@keyframes green{
  50%{
    background-color:green;
  }
}


/* animatie 5 */
a:nth-of-type(5) {
  position: relative;
  z-index: 2;
}

.bigger{
  animation-name: bigger;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes bigger{
50%{
  transform: translateY(50px) scale(3);
}
}

/* animatie 6 */
a:nth-of-type(6) {
  position: relative;
}

.longer{
  animation-name: longer;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes longer{
  50%{
    padding-right: 12rem;
  }
}

/* animatie 7 */
a:nth-of-type(7) {
  position: relative;
}

.flip{
  animation-name: flip;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes flip{
  50%{
  transform: scaleX(-1);
  }
}

/* animatie 8 */
a:nth-of-type(8) {
  position: relative;
}
.hanger{
  animation-name: hanger;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

@keyframes hanger{
  25%{
    padding-right: 300px;
  }
  50%{
    transform: rotateY(360deg) rotate(120deg);
  }
  75%{
    transform:translateY(45rem)
  }
}

/* animatie 9 */
a:nth-of-type(9) {
  position: relative;
}
.disco{
  animation-name: disco;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes disco{
  25%{
    background-color: gold;
    color: hotpink;
  }
  50%{
    background-color: palegreen;
    color: indianred;
  }
  75%{
    background-color: midnightblue;
    color:aqua;
  }
}

/* animatie 10 */
a:nth-of-type(10) {
  position: relative;
}
.square{
  animation-name: square;
  animation-duration: 4s;
  animation-iteration-count: 1;
}
@keyframes square{
  50%{
    border-radius: 0px;
    padding-top:60px;
    padding-bottom:60px;

  }
}

/* animatie 11 */

a:nth-of-type(11) {
  position: relative;
}

.super-disco{
  animation-name: super-disco;
  animation-duration: 1.2s;
  animation-iteration-count: 4;
}
@keyframes super-disco{
  10%{
   transform:scale(1.2);
   background-image: radial-gradient(red, orange);
  }
  20%{
    transform:scale(1);
    background-image: radial-gradient(yellow, green);
  }
  30%{
    transform:scale(1.3);
    background-image: radial-gradient(blue, indigo);
  }
  40%{
    transform:scale(1);
    background-image: radial-gradient(violet, red);
  }
  50%{
    transform:scale(1.2);
    background-image: radial-gradient(orange, yellow);
  }
  60%{
    transform:scale(1);
    background-image: radial-gradient(green, blue);
  }
  70%{
    transform:scale(1.3);
    background-image: radial-gradient(indigo, violet);
  }
  80%{
    transform:scale(1);
    background-image: radial-gradient(red, orange);
  }
  90%{
    transform:scale(1.2);
    background-image: radial-gradient(yellow, green);
  }
  100%{
    transform:scale(1);
    background-image: radial-gradient(blue, indigo);
  }
}

/* animatie 13 */

a:nth-of-type(13) {
  position: relative;
}

.rolling{
  animation-name: rolling;
  animation-duration: 8s;
  animation-iteration-count: 1;
  z-index:10;
}
@keyframes rolling{
  10%{
    border-radius:100%;
    padding-top:80px;
    padding-bottom:80px;
  }
  20%{
    transform: scale(0.5);
    border-radius:100%;
    padding-top:80px;
    padding-bottom:80px;
  }
  40%{
    transform: scale(0.5) rotate(20deg);
  }
  50%{
    transform: translateX(50rem) scale(0.5) rotate(180deg);
  }
  95%{
    border-radius:100%;
    padding-top:80px;
    padding-bottom:80px;
    
  }
  100%{
    transform:  rotate(deg) scale(1);
  }
}

/* animatie 14 */

a:nth-of-type(14) {
  position: relative;
}

.double-border{
  animation-name: double-border;
  animation-duration: 3s;
  animation-iteration-count: 1;
  z-index: 10;
}

@keyframes double-border{
50%{
  border: 25px;
  border-radius:var(--pill);
  border-style: double;
  transform:scale(2);
  background-color:hotpink;
}
}

/* animatie 15 */

a:nth-of-type(15) {
  position: relative;
}

.disappear{
  animation-name: disappear;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

@keyframes disappear{
50%{
  transform: scale(0);
  background-color: yellow;
}
}

/* animatie 16 */

a:nth-of-type(16) {
  position: relative;
}

.to-the-right{
  animation-name: to-the-right;
  animation-duration: 3s;
  animation-iteration-count: 1;
  max-width: 235px;
  overflow: hidden;
}

@keyframes to-the-right{
50%{
  padding-left:200px;
  
}
}

/* animatie 17 */

a:nth-of-type(17) {
  position: relative;
}

.down{
  animation-name: down;
  animation-duration: 3s;
  animation-iteration-count: 1;
  max-height: 65px;
  max-width:200px;
  overflow: hidden;
}

@keyframes down{
50%{
  padding-top:40px;
}
}

/* animatie 18 */

a:nth-of-type(18) {
  position: relative;
  z-index: 20;
}

.outside{
  animation-name: outside;
  animation-duration: 3s;
  animation-iteration-count: 1;
  max-height: 65px;
  max-width:150px;
  
}

@keyframes outside{
50%{
  font-size: 80px;
  color: rgb(255, 14, 239);
}
}